@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 30px auto;
    text-align: center;
    background-color: blanchedalmond;
    color: #333;
    font-family: Quicksand;
    border: 2px solid;
    height: max-content;
    width: max-content;
    
}

#title{
  font-size: 80px;
  margin: 10px 20px;
  border-bottom: 1px solid #333;
}

#seconds {
  font-size: 40px;
  font-weight: 600;
  margin-right: 2px;
}

#decimals {
  font-size: 20px;
  font-weight: 500;
}

#buttons {
  padding-bottom:30PX;
  margin: auto 20px;
  border-bottom: 1px solid #333;
}

button {
  width: 120px;
  height: 60px;
  margin: 4px;
  border: 2px solid;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  background: transparent;
  backdrop-filter: url(commonfilters.svg#filter);
}

button:hover {
  background: rgb(213, 186, 146);
}

#laptime {
  margin-bottom: 30PX;
  font-size: 30px;
  font-weight: 500;
}